button {
    background: transparent;
    border: none;
    cursor: pointer;
    margin-right: 0.5rem;
}

button:hover {
    background-color: rgba(34,34,34, 0.7);
    color: white;
    border-radius: 5px;
}
